<div class="wrapper d-flex" [class]="themeState.activeBackground" [ngClass]="{
  'dark-theme': themeState.isDarkMode,
  'light-theme': !themeState.isDarkMode
}">
  <div class="w-100">
    <ng-container *ngIf="!preLoading">
      <header class="bd-header d-flex align-items-stretch border-bottom border-dark app-hearder">
        <div class="container-fluid d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center fs-4 text-white mb-0">
            <img
              [src]="themeState.isDarkMode ?  '../assets/images/amx-logo-white.png' : '../assets/images/amx-logo-blue.png'"
              height="32" class="me-2" alt="Amx Logo" />
          </div>

          <div class="d-flex align-items-center">
            <div class="form-check form-switch me-2">
              <input class="form-check-input" type="checkbox" [checked]="toggleConfiguration.checked"
                (change)="onChange($event)" [hidden]="toggleConfiguration.hidden" [id]="'themeSwitch'">
              <label [for]="'themeSwitch'">{{ toggleConfiguration.text }}</label>
            </div>
            <button type="button" class="btn btn-default btn-logs p-0" (click)="setIsShowDrawer()">
              <span class="float-end p-2 border border-light rounded-circle" [ngClass]="connectionStatusClass"
                id="connectStatus"></span>
            </button>
          </div>
        </div>
      </header>
      <main>
        <div class="app-content">
          <div class="container-fluid app-container">
            <router-outlet></router-outlet>
          </div>
        </div>
      </main>
    </ng-container>
    <ng-container *ngIf="preLoading">
      <amx-preloading></amx-preloading>
    </ng-container>
  </div>
  <amx-nx-connection-log-drawer [show]="isShowDrawer" (toggle)="toggleDrawer()"></amx-nx-connection-log-drawer>
</div>